/*body{
	background-color: gray;
}*/
.container{
	width: 300px;
	height: 40%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin-bottom: 10px;
}
#project img{
	width: 300px;
}
.header{
	background-color: 2B2C7C;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.page{
	display: flex;
	flex-direction: row;
	margin-right: 10px;
	list-style: none;

}
.page-content{
	margin-right: 10px;
}
.page .page-content a{
	color: white;
	text-decoration: none;
}
#contact{
	background-color: 2B2C7C;
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
}
